body
{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-YJHeOc5OoXfGBbNSXrkeWeywxJOjzBfFKw&usqp=CAU);
}
h1
{
    margin-left: 25%;
    color: white;
}

label
{
    margin-left: 35%;
}

#nombre
{
 margin-left: 35%;
 border-radius: 13px;
}
#patente
{
 margin-left: 35%;
 border-radius: 13px;
}
#precio
{
 margin-left: 35%;
 border-radius: 13px;
}
select
{
    margin-left: 35%;
}
#boton
{
    margin-left: 35%;
    border-radius: 13px;
}